<?xml version="1.0"?>
<config>
    <modules>
        <HC_Spamfilter>
            <version>1.6.0</version>
        </HC_Spamfilter>
    </modules>
    <global>
        <helpers>
            <spamfilter>
                <class>HC_Spamfilter_Helper</class>
            </spamfilter>
        </helpers>
        <models>
            <spamfilter>
                <class>HC_Spamfilter_Model</class>
            </spamfilter>
        </models>
        <blocks>
            <spamfilter>
                <class>HC_Spamfilter_Block</class>
            </spamfilter>
        </blocks>
        <events>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <spamfilter>
                        <class>spamfilter/EmailFilterObserver</class>
                        <type>Singleton</type>
                        <method>checkCreateAccount</method>
                    </spamfilter>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_contacts_index_post>
                <observers>
                    <spamfilter>
                        <class>spamfilter/EmailFilterObserver</class>
                        <type>Singleton</type>
                        <method>checkContactsForm</method>
                    </spamfilter>
                </observers>
            </controller_action_predispatch_contacts_index_post>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <spamfilter>
                        <class>spamfilter/EmailFilterObserver</class>
                        <type>Singleton</type>
                        <method>checkNewsletterSubscription</method>
                    </spamfilter>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <HC_Spamfilter>
                    <files>
                        <default>HC_Spamfilter.csv</default>
                    </files>
                </HC_Spamfilter>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hc>
                                            <title>HC Designs - All</title>
                                        </hc>
                                        <hc_general>
                                            <title>HC Designs - General</title>
                                        </hc_general>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <HC_Spamfilter>
                    <files>
                        <default>HC_Spamfilter.csv</default>
                    </files>
                </HC_Spamfilter>
            </modules>
        </translate>
    </adminhtml>
</config>
